.bg-white{
    background-color: $white;
}

.bg-black{
    background-color: $black;
}

.bg-gray{
    background-color: $gray;
}

.bg-blue{
    background-color: $blue;
}

.bg-light-gray{
    background-color: $light-gray;
}