
$white: #ffffff;
$black: #000000;
$gray: #adadad;
$light-gray: #e8eced;
$blue: #051173;


//////////// Text Color ///////////////
.txt-white{
    color: $white;
}

.txt-black{
    color: $black;
}

.txt-gray{
    color: $gray;
}

.txt-light-gray{
    color: $light-gray;
}

.txt-blue{
	color: $blue;
}
